<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <script>
        window.addEventListener("load", function(evt) {

        });
    </script>
    <style>
    html, body { margin: 0; }
    div#container { margin: auto; text-align: center; }
    </style>
</head>
<body>
    <div id="container">
        <a href="{{.}}">Sign in in with google</a>
    </div>
</body>
</html>